
body{
margin:1em auto;
width:80%;
max-width:1200px;
padding:0 .62em;
font:1.2em/1.62 sans-serif;
color:#444;
line-height:1.6
}

h1,h2,h3 {
line-height:1.2;
}

form {
display:block;
}

h {color:green;}

.offscreen {
  position: absolute;
  top: -30em;
  left: -300em;
}

div#hmenu {
color:blue;
   margin: 0;
   padding: .3em 0 .3em 0;
   background: #a3c5dc;
   width: 100%;
   text-align: center;
}

div#hmenu ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

div#hmenu ul li {
   margin: 0;
   padding: 0;
   display: inline;
}

div#hmenu ul a:link{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #23455c;
}

div#hmenu ul a:visited{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #23455c;
}

div#hmenu ul a:active{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #23455c;
}

div#hmenu ul a:hover{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #f6f0cc;
   background-color: #23455c;
}

.note{
position:absolute;
color: black;
font-family: helvetica;
font-size: 0.8em;
text-align:center;
width:80%;
left:10%;
}

.textcont
    {
    background-color:white;
    color: black;
    font-family: helvetica;
    font-size: 0.8em;
    padding: 0.5em;
    position: relative;
    
    text-align:center;
    z-index: 20;
    }

.container
    {position:relative;
    height:auto;
    width:auto;
    }

.capsule
    {
    background-color:white;
    border: 3px solid #346789;
    color: black;
    font-family: helvetica;
    font-size: 0.8em;
    padding: 0.5em;
    position: relative;
    
    text-align:center;
    z-index: 20;
    }

.goodnode{
    width:10%;
    height:70px;
    background-color:white;
    border: 3px solid #3A8934;
    color: black;
    font-family: helvetica;
    font-size: 0.8em;
    padding: 1.5em;
    position: absolute;
    
    text-align:center;
    z-index: 20;
}



.badnode{
    width:10%;
    height:70px;
    background-color:white;
    border: 3px solid #893834;
    color: black;
    font-family: helvetica;
    font-size: 0.8em;
    padding: 1.5em;
    position: absolute;
    
    text-align:center;
    z-index: 20;
}

.private_node{
    width:15%;
    height:70px;
    background-color:white;
    border: 3px dashed #346789;
    color: black;
    font-family: helvetica;
    font-size: 0.8em;
    padding: 1.5em;
    position: absolute;
    
    text-align:center;
    z-index: 20;
}

nav ul{height:80px; 
        width:auto;
        overflow:hidden;
        overflow-y:scroll;
        border:3px dashed #346789;}


nav ol{height:80px; 
        width:auto;
        overflow:hidden;
        overflow-y:scroll;
        border:3px dashed #346789;}


.node{
    width:170px;
    height:auto;
    background-color:white;
    border: 3px solid #346789;
    color: black;
    font-family: helvetica;
    font-size: 0.8em;
    padding: 1.5em;
    position: absolute;
    
    text-align:center;
    z-index: 20;
}

.window {
    background-color:white;
    border: 3px solid #346789;
    color: black;
    font-family: helvetica;
    font-size: 0.8em;
    height: 12em;
    opacity: 1;
    padding: 0.5em;
    position: absolute;
    width: 14em;
    
    text-align:center;
    z-index: 20;
}

.dragActive {
    border: 3px solid #346789;
}

.jtk-connector {
 z-index:4;
 color:red;
}



.jtk-endpoint {
z-index:21;
color:black;
}

.jtk-overlay {
z-index:6;
color:green;
}

.pro{
background:rgb(120,255,120);
}

td.pro:hover{
color:rgb(0,50,0);
background:rgb(200,255,200);
}

.contra{
background:rgb(255,120,120);
}


.contra:hover{
color:rgb(50,0,0);
background:rgb(255,200,200);
}

.ui{
position:fixed;
top:500px;
left:0;
z-index:30;
display:inline;
}


table {
width:100%;
border-spacing:5px
}

table.com{
width:0%;
border-spacing:0;
}

table.buttons{
max-width:100px;
}

th{
border: 2px solid blue;
}

td{
text-align:center;
padding-left:0.5em;
padding-right:0.5em;
padding-top:0.2em;
padding-bottom:0.2em;
border: 1px solid black;
}

td.imgcontainer{
padding:0;
border: 0px solid white;
}

td.arg{
width:100%;
}

td.argtitle{
border: 0px solid black;
}

td.structure{
padding-left:0em;
padding-right:0em;
padding-top:0em;
padding-bottom:0em;
border: 0px solid black;
}

td.com{
padding-top:0;
padding-bottom:0;
}

th.com{
padding-top:0;
padding-bottom:0;
}

small{
font-size: xx-small;
}

.form input[type=submit]{
width:auto;
}

.form input{
width:100%;
}

.form textarea{
width:100%;
}

.someborder{
border: 1px solid black;
padding-left:0.5em;
padding-right:0.5em;
padding-top:0.2em;
padding-bottom:0.2em;
}

.nodep{
border: 1px solid black;
padding-left:0.5em;
padding-right:0.5em;
padding-top:0.2em;
padding-bottom:0.2em;
}

.contra{
background:rgb(255,240,240);
}

.clickme{

font-size:large;
width:90%;
text-align:center;
padding:5%;
background:rgb(220,250,220);
color:rgb(0,10,0);
}

.clickme:hover{
background:rgb(150,250,150);
}

.buttonlike:hover{
background:rgb(240,240,255);
}

.pro{
background:rgb(240,255,240);
}

td.pro:hover{
color:rgb(0,50,0);
background:rgb(200,255,200);
}

ul{
margin: 0;
padding: 0;
border-left:1px solid rgb(100,100,255);
list-style-position: inside;
}

li{
padding: 0px 0px 0px 5%;
}

