
@font-face{font-family: DIN;
src: url("./din1451alt.ttf");
}

@font-face{font-family: Zier;
src: url("./NeueZierSchrift.ttf");
}

#checkbox{
    position: fixed;
    top: 20px;
    right: 20px;
    appearance: none;
    -webkit-appearance : none;
    -moz-appearance : none;
    -o-appearance : none;
    
    background: black;
    border-radius: 22px;
    cursor: pointer;
    outline: none;
}

body{
margin:1em auto;
width:80%;
max-width:1200px;
padding:0 .62em;
font:1.2em sans-serif;
font-family:DIN;
color:#444;
line-height:1.6;
}

.darkmodetoggle{
    position: fixed;
    top: 20px;
    right: 20px;
}

.theme-a {
  background: #dca;
  color: #731;
}

@media (prefers-color-scheme: dark) {
    body{
        background:#444;
        color:white;
    }
    a{
    color:#C8FFFF;
    }

    a:visited{
    color:#DCB4FF;
    }
    
    textarea{
    color:white;
    background:#444;
    }

    .box{
	border: 1px solid black;
	padding: 3px;
	}
	
	ul{
	margin: 0;
	padding: 0;
	border-left:1px solid rgb(100,100,255);
	list-style-position: inside;
	}

	li{
	padding: 0px 0px 0px 5%;
	}

	td{
	border:1px solid grey;
	}

}


@media print {
    body{
        font-size: 7pt;
    }
}

.box{
border: 1px solid black;
padding: 3px;
}

h1.zier{

font:4em sans-serif;
font-family:Zier;
}
h1,h2,h3{
line-height:1.2
}

form {
display:block;
}

.contra{
background:rgb(255,240,240);
}

.contra:hover{
color:rgb(50,0,0);
background:rgb(255,200,200);
}

.pro{
background:rgb(240,255,240);
}

.pro:hover{
background:rgb(200,255,200);
}


table {
width:100%;
border-spacing:5px
}

table.com{
width:0%;
border-spacing:0;
}

table.buttons{
max-width:100px;
}

th{
border: 2px solid blue;
}

td{
text-align:center;
padding-left:0.5em;
padding-right:0.5em;
padding-top:0.2em;
padding-bottom:0.2em;
border: 1px solid black;
}

td.imgcontainer{
padding:0;
border: 0px solid white;
}

td.arg{
width:100%;
}

td.argtitle{
border: 0px solid black;
}

td.structure{
padding-left:0em;
padding-right:0em;
padding-top:0em;
padding-bottom:0em;
border: 0px solid black;
}

td.com{
padding-top:0;
padding-bottom:0;
}

th.com{
padding-top:0;
padding-bottom:0;
}

small{
font-size: xx-small;
}

ul{
margin: 0;
padding: 0;
border-left:1px solid rgb(100,100,255);
list-style-position: inside;
}

li{
padding: 0px 0px 0px 5%;
}


